<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Web app</title>
    <meta charset="UTF-8">
    <meta name="description" content="Web App">
    <meta name="keywords" content="Test Website">
    <meta name="author" content="Lawrence Esturas">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!--[if lt IE 9]

    <![endif]-->
  </head>
  <body>
    <header>

    <header>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">List</a></li>
        <li><a href="#">About</a></li>
        <li class="dropdown">
            <a class="drop-link" href="#">Contact</a>
            <div class="dropdown-content">
              <a href="#">Item 1</a>
              <a href="#">Item 2</a>
              <a href="#">Item 3</a>
            </div>
        </li>
      </ul>
    </nav>

    <section id="banner">
      <h1>Enter the House</h1>
    </section>

    <section class="gallery">
      <div class="image">
        <a href="#">
          <img src="/images/img_fjords.jpg" width="100" height="100" alt="image"/>
        </a>
        <div class="desc">Adding in a description here.</div>
      </div>

      <div class="image">
        <a href="#">
          <img src="/images/img_forest.jpg" width="100" height="100" alt="image"/>
        </a>
        <div class="desc">Adding in a description here.</div>
      </div>

      <div class="image">
        <a href="#">
          <img src="/images/img_lights.jpg" width="100" height="100" alt="image"/>
        </a>
        <div class="desc">Adding in a description here.</div>
      </div>
    </section> /

    <section id="Contact_Form">
      <form action="#" target="_blank" method="POST">
          First Name<br/>
          <input type="text" placeholder="first name"><br/>
          Last Name<br/>
          <input type="text" placeholder="last name"><br/>
          <input type="submit">
      </form>
    </section>

    <footer>

    </footer>
  </body>
</html>
