body {
  margin: 0;
  padding: 0;
  color: #FFF;
  background-color: #000;
  background-image: url("/images/house_on_the_ocean-wallpaper-2560x1440.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Georgia, Times, serif;
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

nav {
  width: 60%;
  position: fixed;
  top: 10px;
  left: 20%;
  z-index: 1;
  border: 2px solid black;
}

nav > ul {
  margin: 0;
  padding: 0;
  background-color: #000;
  list-style-type: none;
}

nav ul > li {
  float: left;
}

nav ul li a {
  color: #FFF;
  text-decoration: none;
  display: inline-block;
  padding: 20px 10px;
  width: 10%;
  text-align: center;
}

nav ul li:hover {
  border-bottom: 2px solid #FFF;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(256, 256, 256, 0.5);
  min-width: 160px;
  box-shadow: 5px 5px 2.5px 0px rgba(256, 256, 256, 0.5);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 15px 5px;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

section {
  width: 60%;
  padding: 30px;
  clear: left;
  margin: auto;
  margin-top: 50px;
}

#banner {
  height: 500px;
  width: 60%;
  margin-top: 80px;
  border: 2px solid black;
}

#banner h1 {
  text-align: center;
  color: white;
  font-size: 60px;
  border: 2px solid black;
}

p {
  text-indent: 30px;
  text-align: justify;
}

div.image {
  margin: 5px;
  border: 2px solid white;
  float: left;
  width: 30%;
}

div.image:hover {
  border: 2px solid black;
}

div.image img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  overflow: hidden;
}

#Contact_Form {
  display: block;
  width: 100%;
  border: 2px solid black;
}

section.gallery {
  overflow: auto;
  border: 2px solid black;
}

input[type="text"] {
  padding: 5px 0px;
  margin: 5px;
  border-radius: 4px;
  width: 20%;
  border: none;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  box-sizing: border-box;
o}

input[type="text"]:focus {
  width: 100%;
}

#Contact_Form input[type="submit"] {
  border-radius: 5px;
  background-color: #4CAF50;
  border: none;
  padding: 16px 32px;
  margin-top: 5px;
  width: 100%;
  cursor: pointer;
}

form {
  border: 2px solid black;
  padding: 8px 8px;
}

#Contact_Form {
  width: 60%;
}

@media screen and (max-width: 400px) {
    nav > ul li, .dropdown {
        text-align: center;
        float: none;
    }

    nav {
      width: 100%;
      background-color: rgba(0,0,0,0);
    }
}

dropdown {
  position: relative;
   color: black;
   float: left;
  padding: 12px;

}

#drop {
  position: relative;
}

#containment {
  position: absolute;
}

#containment a {
  color: black;
  text-decoration: none;
  padding: 4px 8px;
  display: inline-block;
}

#containment:

#containment {
  float: left;
  border: 2px solid black;
  background-color: white;
}
